*{
    box-sizing: border-box;
    color: rgb(205,205,205);
}
body{
    background: rgb(34, 34, 34);
    margin: 5px;
}
#inputTasks{
    display: flex;
}
fieldset{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 370px;
    border: 1px dashed rgb(205, 205, 205);
    border-radius: 10px;
}
#taskDes{
    height: 70px;
    width: 200px;
    text-align: start;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    padding-left: 10px;
    padding-top: 5px;
    color: rgb(34, 34, 34);
    scrollbar-width: thin;
}
#datePicker{
    height: 50px;
    width: 150px;
    color: rgb(34, 34, 34);
    margin-left:20px ;
}
#submitB{
    height: 70px;
    width: 120px;
    border-radius: 35px;
    margin-top:20px;
    margin-left: 10px;
    border: 2px solid rgb(205, 205, 205);
    background-color: transparent;
}
#submitB:active{
    background: rgb(10, 10, 10);
}
#tasks{
    display: grid;
    width: 600px;
    border: 1px solid rgb(205, 205, 205);
    grid-template-columns: 200px 200px 150px;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
}

#tasks div{
    border-right: 1px dashed rgb(205, 205, 205);
    border-left: 1px dashed rgb(205, 205, 205);
    padding: 10px;
    width: calc(450px - 90px);
}
#tasks button{
    padding: 5px;
    border: 1px solid rgb(205, 205, 205);
    height: 45px;
    width: 70px;
    border-radius: 25px;
    margin-left: 0px;
    background-color: transparent;
}
#tasks button:active{
    background: rgb(93, 93, 93);
}